{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Ajouter Vehicule
        </button>

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">nouvelle Vehicule</h4>

                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">


                        <!-- Modal footer -->

                        <div class="card-body">
                            <form>
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Matricule</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">type</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Marque</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Model</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Puissance</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">nombre de place</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">prix</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="btn btn-primary btn-rounded">
                                    <span class='material-icons'>photo_camera</span>
                                    <input type="file" class="form-control d-none" id="customFile1"/>
                                </div>


                                <button type="submit" class="btn btn-success">Ajouter</button>
                                <div class="clearfix"></div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="card">

            <div class="card-header card-header-primary">
                <h4 class="card-title ">Simple Table</h4>
                <p class="card-category"> Here is a subtitle for this table</p>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            ID
                        </th>
                        <th>
                            Matricule
                        </th>
                        <th>
                            type
                        </th>
                        <th>
                            Marque
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            Puissance
                        </th>
                        <th>
                            nombre de place
                        </th>
                        <th>
                            Image
                        </th>

                        </thead>
                        <tbody>
                        {% for vehicule in vehicules %}
                        <tr>
                            <td>
                                {{ vehicule.id }}
                            </td>
                            <td>
                                {{vehicule.matricule}}
                            </td>
                            <td>
                                {{vehicule.marqueV}}
                            </td>
                            <td>
                                {{vehicule.model}}
                            </td>
                            <td>
                                {{vehicule.puissance}}
                            </td>
                            <td>
                                {{vehicule.nbr_place}}
                            </td>
                            <td>
                                {{vehicule.prix}}
                            </td>

                        </tr>
                        {%endfor%}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
